{{! /scripts/templates/albumdetail.hbs }}
<div class="albumContainer">
    <h3>Album</h3>
    <img src="{{images.[1].url}}" alt="{{name}} Album Image">
    <div class="title">{{name}}</div>
    <div class="release">
        by
        {{#each artists}}
        <span class="artist">{{name}}</span>
        {{/each}}
    </div>
    <a href="{{uri}}">Open Album in Spotify</a>

    <select name="playlist-select" id="playlist-select">
        <option value="new-playlist">Create new playlist</option>
        {{#each playlists}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <div class="tracks">
        <h4>Tracks</h4>
        <ol>
        {{#each tracks.items}}
            <li>
                <div class="title">{{name}}</div>
                <button class="add-track btn btn-sm" formaction="#" name="add-track" id="track-{{ track_number }}" data-trackid="{{track_number}}">Add Track</button>
                <audio src="{{preview_url}}" controls></audio>
            </li>
        {{/each}}
        </ol>
    </div>
</div>
<div id="name-new-playlist" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Playlist Name</h4>
      </div>
      <div class="modal-body">
        <input class="form-group form-control" id="name-playlist"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-name" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>